<!DOCTYPE html>
<html>
    <head>
        {{>title}}
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Ankur. This uses data from mapbox.com and darksky.net</p>
             <img class="myimg" src="/img/photo.jpg"/>
        </div>
        {{>footer}}
    </body>
</html>