 <!DOCTYPE html>
 <html>
     <head>
       {{>title}}
       <link rel="icon" href="/img/icon.png">
       <link rel="stylesheet" href="/css/styles.css" >
     </head>
     <body>
        <div class="main-content">
          {{>header}}
          <form>
            <input type="text" placeholder="Enter City" id="city"/>
            <button>Search</button>
          </form>

          <p id="m1"></p>
          <p id="m2"></p>
        </div>
         {{>footer}}
         
       <script type="text/javascript" src="/js/app.js"></script>
     </body>
 </html>